/* CART PAGE BACKGROUND */
.cart-page {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px 15px;
  margin-top: 10px;

  /* Page background */
  background-image: url("https://static.vecteezy.com/system/resources/previews/009/742/385/original/3d-shopping-cart-with-cloud-for-online-shopping-and-digital-marketing-ideas-basket-and-promotional-labels-on-white-background-shopping-bag-buy-sell-discount-3d-icon-illustration-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  /* Glass effect */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);

  border-radius: 16px;
  color: black;

  position: relative;
  z-index: 1;
}

.cart-page h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  color: #060505;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
